<div class="row">
  <div class="col-md-6 offset-md-3 text-center">
    <div class="card">
      <div class="card-body">
        <h1>New List</h1>
        <%= render 'form', list: @list %>
        <%= link_to 'Back', lists_path %>
      </div>
    </div>
  </div>
</div>
