<!DOCTYPE html>
<html>
<head>
  <title></title>
  <%# <%= wicked_pdf_stylesheet_link_tag 'pdf' %>
<link rel="stylesheet" type="text/text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body class="main-content">

  <h1>List Name: <%= @list.name %></h1>
  <br>
  <div class="contentTable">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Title</th>
          <th scope="col">Description</th>
        </tr>
      </thead>
      <tbody>
        <% @list.tasks.each do |task| %>
          <tr>
            <th scope="row"><%= task.description %></th>
            <td><%= task.completed %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</body>
</html>
